[2015-05-06 03:37] MarioE opened #1 "Remove PluginContainer and TerrariaPlugin.Game"
There's not really a need for `PluginContainer`. The `Main` instance is also not very useful, so we should just scrap it and the constructor.

[2015-05-06 04:09] hakusaro commented on #1
:+1:

[2015-05-06 07:34] QuiCM commented on #1
:+1:

[2015-05-06 07:39] AxisKriel commented on #1
:+1:

[2015-07-05 21:32] hakusaro opened #5 "Cannot delete world"
You can't delete a world with "d <number".

[2015-07-08 02:04] SteelPhase opened #6 "NetPlay.MaxConnections can be assigned to but is not referenced."
https://github.com/NyxStudios/TerrariaAPI-Server/commit/68df888921ca28cffb3c150801e59b57ee6cb4a7#commitcomment-12052283

Thought I'd point this out if anyone would like like the '-connperip`'command to actually do something with the value.

[2015-07-08 07:08] benjiro commented on #5
I addressed this issue please refer to https://github.com/NyxStudios/TerrariaAPI-Server/pull/7

[2015-07-08 12:43] AndrioCelos opened #8 "Disappearing NPCs"
The following relates to Terraria API Server version 1.18.0.0, at commit https://github.com/NyxStudios/TerrariaAPI-Server/commit/c9252bee5dc95f94e705986bc3b2b69b0c5a0ab5, with _no_ plugins (not even TShock).

Shortly after I started the server, I noticed that the mechanic's projectile was appearing at the wrong location. Then, some of my citizens mysteriously vanishing, specifically, the demolitio

[2015-07-08 18:37] Mitch528 opened #9 "Use SocketAsyncEventArgs"
Using SocketAsyncEventArgs could greatly improve performance when compared to using the Begin/End Socket methods.

Benefits:
- Non-blocking.
- Reduce strain on the GC by pre-allocating SocketAsyncEventArgs objects (also doesn't create an IAsyncResult object on each call).
- Can prevent memory fragmentation from occurring.
- SocketAsyncEventArgs does not block when the buffer is full (compared to B

[2015-07-08 18:43] Ijwu commented on #9
Check out https://github.com/NyxStudios/TerrariaAPI-Server/tree/sendq

[2015-07-08 18:48] Mitch528 commented on #9
Yeah, I looked at that. Although it'll help, it still uses the Begin/End Socket methods plus a lot of locking.

[2015-07-08 18:53] Ijwu commented on #9
@tylerjwatson can probably elaborate on his plans, since he's taken the lead on overhauling the networking. I think the locking is pretty negligible with the performance increase gained from the current send queue. But then again, I don't really know any of the hard data and am working off what I've been told in Slack.

I'll leave it to Tyler to drop in when he wakes up.

[2015-07-09 01:15] tylerjwatson commented on #9
Hi @Mitch528

First of all thank you for your suggestion, it's probably one of the best and most concise ones we've gotten.  Indeed you are correct about the `SocketAsyncEventArgs`.  The problem arises because TSAPI generates so much data that the send buffers end up completely full and `EndWrite` will block until it has pumped all data back to the client.

I am overhauling the packet sending mech

[2015-07-09 01:16] tylerjwatson commented on #9
As a footnote I am going to leave this open until the sendq has been implemented and the send thread uses `SocketAsyncEventArgs` as it's a valid and wise recommendation.

[2015-07-09 04:51] QuiCM commented on #8
This is likely the reason for all NPC bugs (apart from backwards shooting?).
Chat bubbles probably will not show as they were cut from the server with a lot of client code, however I can look into this further

[2015-07-09 05:09] #8 closed, assigned to nobody

[2015-07-09 12:52] QuiCM commented on #5
Solved by #7

[2015-07-09 12:52] #5 closed, assigned to nobody

[2015-07-09 14:24] Mitch528 commented on #9
No problem.

Ah, I see. I misunderstood the locking portion of your code.

Yeah, looking at Mono's code, it does seem to use IAsyncResult. However, from what I can tell, it reuses it instead of creating a new one with each call (https://github.com/mono/mono/blob/master/mcs/class/System/System.Net.Sockets/SocketAsyncWorker.cs#L33).

[2015-07-17 03:00] Marcus101RR opened #14 "(#484+) World Saving fails at "Validating World Save 1%)"
Issue: When the world attempts to save, it will not finish saving nor create a backup world file. It remains hanging in console at Validating World Save 1%. Meanwhile, server can operate normally, however, if server is restarted, crashes, or closed, the world will be at its last successful save or use a later stable version of TerrariaServer.exe. As far as testing goes, this is not an issue with T

[2015-07-17 03:04] QuiCM commented on #14
![screenshot](https://dl.dropboxusercontent.com/u/98954663/ShareX/2015/07/2015-07-17_12-33-38.png)

[2015-07-17 03:26] Marcus101RR commented on #14
![](http://i.imgur.com/DXaemuv.jpg)

[2015-07-17 03:50] QuiCM commented on #14
Was this present in previous builds?

[2015-07-17 19:43] Marcus101RR commented on #14
No, Issue FIXED #488

[2015-07-18 00:35] #14 closed, assigned to nobody

[2015-07-21 12:13] microglossum opened #17 "AssemblyInfo outdated version"
Is

`[assembly: AssemblyFileVersion("1.3.0.4")]`

and

`[assembly: AssemblyVersion("1.3.0.4")]`

in Properties/AssemblyInfo.cs outdated?

PS: I am aware of possible irrelevance.

[2015-07-22 18:38] #17 closed, assigned to nobody

[2015-07-24 03:07] Marcus101RR opened #26 "World stops loading for clients..."
The world stops loading after some time for all clients, only way to fix this is to restart the server and it will load for a while. Figured I put this issue up until it actually gets resolved in the future. So no one misses out on that fact that the issue exists or is too lazy to put it out there.
![](http://i.imgur.com/UCof7df.png)

[2015-07-24 14:16] hakusaro commented on #26
cc @tylerjwatson

[2015-07-24 14:42] hakusaro commented on #26
@Marcus101RR please provide a memory dump of the server executable during this condition and/or reproduction steps.

[2015-07-25 19:48] Patrikkk-zz opened #27 "sendq: Allocate of message to player xxx timed out."
So apparently when a player gets kicked through any GetData stuff, this happens.
I triggerred the damage cap kick in TShock.
(Also working on a plugin where I kick player at playerdamage packet and same thing happens)

http://puu.sh/jcCg7/d86039bcde.png

and after world is done saving http://puu.sh/jcCh4/9bfc3760b8.png

I debugged to see where the booboo happens.  And it's here http://puu.sh/jcBwZ

[2015-07-26 01:39] Marcus101RR commented on #26
http://74.91.127.178:8080/FastDL/TerrariaServer.DMP
Memory dump of world stopped loading

[2015-07-27 01:11] Marcus101RR commented on #26
Another World stopped loading tiles: http://74.91.127.178:8080/FastDL/TerrariaServer.zip
Joined as Slot 19, coordinates: 4201, 288

[2015-07-28 08:10] tylerjwatson commented on #26
Links are invalid.

[2015-07-28 16:02] Marcus101RR commented on #26
Try again, they work fine for me.

[2015-07-29 06:16] tylerjwatson opened #29 "Create a crash reporter"
There is a need for TSAPI to inform us of a crash report.  The crash report will be in JSON format and submitted to a TShock endpoint for the purposes of finding server-breaking exploits before they have a chance to ruin the multiplayer experience for everybody.  **The mechanism is opt-out**, but enabled by default, and will generate a 'crash dump' and save it to a subfolder of terraria called `cr

[2015-07-31 00:28] Marcus101RR opened #30 "Lost Connection Repeatedly 5-10 minutes"
So, we keep losing connection now, cannot confirm or deny if the issue causes this: https://github.com/NyxStudios/TerrariaAPI-Server/commit/8e5d5931525ef0fc73362593106abbbf048c7f74

[2015-07-31 00:36] hakusaro commented on #30
There's no actual information in this report to even remotely diagnose a problem.

[2015-07-31 01:11] Marcus101RR commented on #30
There are no logs to show what happened either.

[2015-07-31 01:42] Marcus101RR commented on #30
http://i.imgur.com/2A6tmPc.png

[2015-07-31 01:49] tylerjwatson commented on #30
- no memory dump
- no tshock version
- no detailed explanation of the problem

closing until you learn how to report issues that aren't complete rubbish.

[2015-07-31 01:49] #30 closed, assigned to nobody

[2015-07-31 01:50] #26 closed, assigned to nobody

[2015-07-31 01:50] #27 closed, assigned to nobody

[2015-08-20 02:48] QuiCM opened #33 "Repeated leaves and joins results in being stuck at "Found Server""
Steps leading up to this issue:
- Created a new world (small, non-expert) via server console
- Opened world
- Joined and disconnected as fast as possible with one character, 7 times

After a not attempting to connect for ~10 seconds, I was once again able to connect, however quickly disconnecting and attempting to reconnect once again results in being stuck at "Found Server".

[2015-08-20 02:58] QuiCM commented on #33
After getting stuck at "Found Server", I was successfully able to connect with a different character. After doing so I was unable to reproduce this issue without restarting the server

[2015-08-20 03:06] tylerjwatson commented on #33
Is this locally?

[2015-08-20 03:08] QuiCM commented on #33
Yes. Will test connecting to an external server

[2015-08-20 03:14] tylerjwatson commented on #33
Locally is enough to reporoduce for now.  It's probably terraria trying to send packets to clients that aren't fully connected yet before the write thread has a chance to spawn.

Will take a look asap

[2015-08-20 03:20] QuiCM commented on #33
16 connections into external server connection, and cannot reproduce. The connection process is far slower than local, however, so it may be recovering before I attempt to reconnect

[2015-08-20 05:41] #33 closed, assigned to nobody

[2015-10-14 22:19] tysonstrange opened #37 "Server Fails to load world, sometimes..."
Occasionally my world filles will just no longer load in TerrariaServer, but will have been used on the server for days.

I've found the world files still open in the vanilla TerrariaServer and/or in TEdit no problem.

After investigation and adding some debug code into the World Loading section of TSAPI I've found the following.

The following function throwing a null reference exception:
CheckWa

[2015-10-14 22:30] tysonstrange commented on #37
Further that, I'll note that if try and catch CheckWaterDeath() it will throw the exception on 6126 and 726 and the 4 tiles up, as well as 6144 and 726 and the 4 tiles above...

It seems to be throwing this exception on both of the gates in this house and smashing the gates allows the world to then load fine.

furthermore, with the try and catch in place, smashing that gate in game will throw the

[2015-10-15 04:06] tysonstrange opened #40 "Server Fails to load world, sometimes... part 2 (To do with chest count)"
I've found an issue where sometimes a world will fail to load chests (maybe signs too) because there are too many on the map.

The strange thing is that the map will load in tshock and save and load again fine, however I've come across this issue with loading the world in Tedit and saving it again.

The world file will load in vanilla Terraria Server fine.

After some investigation I've narrowed t

[2015-10-15 16:00] hastinbe commented on #40
The maximum chests is 1k, so the behavior you're explaining correlates with that. If whatever software doesn't honor the 1k limit they can write up to 32k chests and the world file will still be valid. The server will even try to load whatever it says, but there's only space allocated for 1k so it will overflow going over that. For this I'm not so sure I see a bug here. But I am interested in hear

[2015-10-15 22:29] tysonstrange commented on #40
But its not like Tedit is adding more chests... just must save them another way or something... some way that TSAPI doesnt like.

In either case. Vanilla Terraria server still loads the world. I dont think all the chests will work... but it still loads the map without crashing, definately.

Here is a copy of my Original world file, which loads in TSAPI and Vanilla. It has 1045 chests. (As per abov

[2015-10-16 01:30] hastinbe commented on #40
I'm showing 997 on orig.wld (revision 1120) but 1045 on tedit.wld (revision 1121)

[2015-10-16 01:33] tysonstrange commented on #40
yeah, so it must just ignore them on save in  tsapi so it can load it later but actually try save them in tedit

But when loading, shouldnt TSAPI ignore the excess chests also, as vanilla does?

Maybe print out a list of all the x,y pos of all 997 and 1045 chests and see which ones it is discarding, perhaps they're empty or something?

I've not seen it myself but apparently when trying to place th

[2015-10-16 01:40] hastinbe commented on #40
Inside the world file is an integer indicating how many chests there are. I'm reading that number and not loading the map with the server. The TEdit saved file has a different value at that offset despite you saying nothing was changed

[2015-10-16 01:44] tysonstrange commented on #40
Literrally nothing was changed... You can open it in Tedit and save it again to see. It must just try save these extra chests...

Clearly it's ignoring them for some reason. Oblously becasue the count exceeds 1000, but which ones does it ignore? are there timestamp, just start from x0, y0 and stop when it gets to a 1000, does it not count empty ones? idk?

All i know is that it won't load in TSAPI

[2015-10-16 01:49] hastinbe commented on #40
Sure it looks like this https://gist.github.com/hastinbe/69b90b7def5b8fb56953

[2015-10-16 01:55] tysonstrange commented on #40
Cool...

So Orig:
http://pastebin.com/YhCmbUNK

and TEdit:
http://pastebin.com/7nydpTzG

From this, it seems that the only difference is Orig ignores/drops chests 998 to 1045, the rest are the same

Must be the number/count of chests, since the X,Y coords of chests 998 to 1045 are scattered all over the map

If all it's doing is dropping them, can we have TSAPI just ignore them as well on load? in

[2015-10-16 03:22] hastinbe commented on #40
Just some feedback. I'm not able to load tedit.wld with either official or TSAPI. I've disassembled official and it loads the chest data the same as TSAPI. I've also looked at the TEdit source and it writes all the chest data it has without the limit. Maps created or saved with more than 1k chests will simply be a problem for servers based off official that use the limit.

Now why TEdit is saving

[2015-10-16 03:22] tysonstrange commented on #40
Ok, So I checked out some of the Chests that exist in the TEdit file, but not the Original...

X=5881 Y=444 - Skyware Dresser
X=7137 Y=412 - Wooden Dresser
X=7626 Y=534 - Spooky Dresser
X=7935 Y=536 - Skyware Dresser
X=8039 Y=372 - Boreal Wood Dresser

They all seem to be dressers....

These Dressers also open and contain items in the orig version too.. how is it then that they're valid containers

[2015-10-16 04:20] hastinbe commented on #40
@tysonstrange see https://github.com/TEdit/Terraria-Map-Editor/blob/bf61469b669a14c237a869f143916df04ef57f38/TEditXna/Terraria/World.FileV2.cs#L573-L574

This is similar to the check that TSAPI does but it's commented out here in TEdit, it very well could be why. I don't have Windows to compile TEdit and try it out, but it might be worth a shot for you

[2015-10-16 04:40] tysonstrange commented on #40
Duly noted. Ill pass this info on to the TEdit Issue I logged and test it later.

I'm still confused as to how/why the dressers work in game, but aren't recorded as a chest?

[2015-10-16 21:18] enigmaquip commented on #40
It's a failing in both Terraria and TEdit for different reasons..... When 1.3.0.1 happened all dressers became storage, When Terraria loads a world file from pre 1.3.0.1 (version < 115) is runs FixDresserChests at the end of the LoadChests function, this converts dressers to chests, up to the 1000 chest limit. All dressers after that do not function as storage. You can pick up a non storage dresse

[2015-10-22 06:53] tysonstrange opened #43 "Building in Windows (Instead of Mono) causes traps to just not work"
When you use VS To build in windows,  it will build but no traps will trigger.

Seems teleporters and shit still work though, so its not all mechanics.

[2015-10-22 07:14] hakusaro commented on #43
That's very, very weird.

[2015-10-22 07:18] QuiCM commented on #43
This issue has been around for a while. We never figured out the cause. Fortunately Travis builds with Mono

[2015-10-22 07:18] tysonstrange commented on #43
Tell me about it....

Ask Tyler and see what he thinks about it... hahahahahahaha

[2015-10-22 07:19] #37 closed, assigned to nobody

[2015-10-22 07:23] hakusaro commented on #43
@WhiteXZ *bamboo

[2015-10-22 07:41] QuiCM commented on #43
Yeah, that

[2015-10-22 07:47] tysonstrange commented on #43
Well, orion will probably take care of that, along with countless other issues.

not a big deal.

[2015-10-28 15:46] gerardmistletoe commented on #43
It's not Windows specific. I build and run with Mono (xbuild) on Linux and traps don't work.

[2015-11-23 07:26] Arrenton commented on #43
Same here. I tried to build in Mono using Linux and xbuild and it still doesn't work. I have tried Xamarin Studio as well in Windows to try and build Mono, with the same results.
Hopefully this does get fixed.

[2015-11-23 07:41] hakusaro commented on #43
What version of Mono?
On Mon, Nov 23, 2015 at 12:26 AM Gotest notifications@github.com wrote:

[2015-11-23 07:48] Arrenton commented on #43
I would assume the latest since I used the install guide for linux on mono-project.com. (http://www.mono-project.com/docs/getting-started/install/linux/) But if you need me to check, I can.

EDIT: Linux is using Mono JIT Compiler version 4.2.1.102

[2015-11-23 11:05] QuiCM commented on #43
Using Ubuntu 14.04 and Mono 4.0.5, traps work when the project is compiled with xbuild

[2015-11-23 11:16] tylerjwatson commented on #43
Thanks.   This is important because it gives us something to look at, particularly the diffs between 4.2.1 and 4.0.5.  Now that the .NET CLR and the BCL is open source, mono have continuously been adopting MS implementations in lieu of their own in the interest of binary compatibility.  It could be something in these references that are causing this.

I still don't have anything concrete to go on,

[2015-11-24 23:46] Arrenton commented on #43
Compiling with Mono 4.0.5 worked! Thank you guys so much!

Here's to me hoping you guys can figure out what's going on here! Best of luck to you!

[2015-11-24 23:54] tylerjwatson commented on #43
According to http://www.mono-project.com/docs/about-mono/releases/4.2.1/, it replaces some ~500 types with Microsoft's implementation.

This is going to be a pain.

[2015-11-25 00:59] Arrenton commented on #43
I would like to note this also fixes Training Dummies, and invisible Bombs/Dynamite.
Although Campfires still seem to disappear when trying to disable them (right click.)

[2015-11-25 01:03] tysonstrange commented on #43
Holy. Fucking. Shit.

Invis bombs are fixed? Gimme.

[2015-11-25 04:27] hakusaro commented on #43
Hmm, the build server is on 4.0.2.0. Invisible bombs happen in the latest
official build?

On Tue, Nov 24, 2015 at 6:03 PM tysonstrange notifications@github.com
wrote:

[2015-11-25 04:35] tysonstrange commented on #43
Yeah, pretty sure its still an issue here

[2015-11-25 04:58] Arrenton commented on #43
Okay, so the invisible bombs aren't 100% fixed but they're working almost 80% of the time now instead of never working at all.

[2015-11-25 04:59] tysonstrange commented on #43
Thats how it's always been...

It's never been so bad that they're invisible 100% of the time.

[2015-11-25 06:50] tylerjwatson commented on #43
On my mono-4.2.1 instance, I am able to trigger a super dart trap with a lever once, and only once if the solution is compiled in release mode with `xbuild /p:Configuration=Release`.

[2015-11-25 08:00] QuiCM commented on #43
I was able to trigger dart traps, spear traps, and flame traps continuously using a switch with a 4.2.1 instance

[2015-11-25 09:08] tylerjwatson commented on #43
More info?  I should be able to trigger a super dart trap from a wire and a lever, right?  Doesn't have to be in a certain biome or at night?  Any other variables? Platform?  Did you compile it or run stock?

Mono-4.0 binaries from our CI has always worked.  This doesn't work when I compile the image using >= mono-4.0.2 or windows

[2015-11-25 14:33] #43 closed, assigned to nobody

[2015-11-25 16:29] hakusaro commented on #43
👍👍👍😘😘😘
On Wed, Nov 25, 2015 at 7:33 AM Tyler Watson notifications@github.com
wrote:

[2015-11-26 08:25] tysonstrange opened #44 "Joining with same name kicks the other"
It used to be that if "Panther" was already online, trying to join with another player called "Panther" would be met with "Panther is already online", but now it kicks the player in game and lets this new player join.

I think its SendQ, as I noticed it around that time, but now people are catching on and causing problems.

[2016-05-28 00:21] Pilihp64 opened #50 "TEItemFrame doesn't load or send properly."
When TerrariaAPI-Server loads a world with a TEItemFrame, clients connected will not receive that "section" of the map, leaving a void.

Place an item in an Item frame in single player and save the world, load this world with a recent TerrariaAPI-Server and connect. The area with the TEItemFrame is now a void as it appears to the character.  This could be a loading problem, or a network sending pr

[2016-05-28 15:01] AxisKriel commented on #50
Does this work on vanilla TerrariaServer? Could be a bug on their end.

[2016-05-28 16:26] Pilihp64 commented on #50
Yes the normal server works as expected, it syncs properly and items can be placed and taken from Item frames.

Item frames themselves can be placed on TerrariaAPI, but you can't place anything inside the frame (nothing happens at all). So it makes sense that something is wrong with the entity responsible for that on the server.

[2016-05-28 18:38] #44 closed, assigned to nobody

[2016-05-28 18:39] AxisKriel commented on #44
SendQ is long gone by now, and we haven't had reports of this occurring in quite a while. Re-open this if still an issue.

[2016-05-29 01:01] AxisKriel commented on #50
Please attempt to reproduce with the latest changes.

[2016-05-29 02:58] Pilihp64 commented on #50
No it still does not seem to function in any way, same symptoms.

[2016-05-29 03:05] AndrioCelos commented on #50
I've seen the same issue with _all_ tile entities.

[2016-05-29 03:23] Pilihp64 commented on #50
I compared Entity functions with my personal decompile where Entities worked, found a loading mistake where they were never initialized.

[2016-05-29 21:49] AxisKriel commented on #50
So is this fixed now? Let me know if I can close this issue.

[2016-05-29 22:07] Pilihp64 commented on #50
Yes, fixed as far as I've tested.

[2016-05-29 22:07] #50 closed, assigned to nobody

[2016-05-31 15:38] recon88 opened #56 "Pressure Plates don't seem to be working"
I just updated to the latest version and it seems like normal Pressure Plates are not working.
They are working fine on Vanilla.

[2016-05-31 15:39] AxisKriel commented on #56
See #55.

[2016-05-31 15:40] recon88 commented on #56
Ah, was checking earlier and couldn't find a ticket about it :P

[2016-05-31 15:40] #56 closed, assigned to nobody

[2016-05-31 15:40] AxisKriel commented on #56
Yeah, it's not visible under Issues because it's a Pull Request. If that's merged, this should be fixed.

[2016-06-18 17:50] Marcus101RR opened #60 "Server Deleting Config file Occasionally"
This issue results in this:

[06/18/16 12:42:06] [Server API] Error: Startup aborted due to an exception in the Server API initialization:
System.InvalidOperationException: Plugin "TShock" has thrown an exception during initialization. ---> System.Exception: Fatal TShock initialization exception. See inner exception for details. ---> System.NullReferenceException: Object reference not set to an in

[2016-06-19 02:54] tylerjwatson commented on #60
In win32 there is no kernel support for signals, and pressing the X will cause the process to terminate without warning. In Windows forms it's a bit different since clicking the X in child windows will cause a WM_MESSAGE allowing for confirm dialogs, but that isn't the case with console apps.

Windows gives us _no_ opportunity to clean up before an X press, so we cant fix it even if we wanted to.

[2016-06-19 02:54] #60 closed, assigned to nobody

[2016-06-25 04:18] QuiCM opened #63 "Allow specification of crimson/corruption in world generation"
Small QoL improvement

[2016-06-26 00:01] Patrikkk-zz opened #64 "PlayerActive packet spam"
This has been discussed in #support channel with Yor, Popstarfreas ( :+1: to him for pointing this out) and Zaicon.
Basically, in syncPlayers it loops through all the player slots. if Netplay.Client state is == 10 (fully connected player) It sends packets to synchronize everything.
SyncPlayers is called every join/leave, and if tick counter is over 10800 ticks.
If client state is not 10, it sends

[2016-06-29 01:55] #64 closed, assigned to nobody

[2016-07-21 02:45] Patrikkk-zz opened #76 "Double "player has joined" since 1.3.2"
Probably I didn't notice and left it in somewhere. so it shows double.

[2016-07-21 02:47] Patrikkk-zz commented on #76
Ah and double leave message too

[2016-07-21 22:18] #76 closed, assigned to nobody

[2016-07-23 00:26] #63 closed, assigned to nobody

[2016-07-23 15:18] Patrikkk-zz opened #83 "Unable to generate world [1.3.2.1]"
Happens at 11%, Chiseling marble.
![ss 2016-07-23 at 05 17 28](https://cloud.githubusercontent.com/assets/5616692/17078680/620b01fa-50f9-11e6-97f9-65d183be4c1d.png)

[2016-07-23 15:56] ivanbiljan commented on #83
Can't confirm this particularly, but world creation seems to stop at 24%. This was tested on both the last (1.3.1.1) release and the current build. I've waited 5 minutes but nothing happened. Cannot guarantee it always happens, but it did happen the last 3-4 times I tried.

[2016-07-23 15:59] Patrikkk-zz commented on #83
Idk how long it took. But now map generated :/
It's messing with me.

[2016-09-14 01:51] QuiCM opened #94 "TSApi for Terraria 1.3.3.x Updated File List"
This issue should be updated as changes are added. Anything listed here should be considered **completed**.
If you have PRed a file or files, please tag me in a reply to this issue to have them added to the list.
- Projectile.cs
- GlowMaskID.cs
- Recipe.cs
- TileID.cs
- ProjectileID.cs
- ExtrasID.cs
- DustID.cs
- BuffID.cs
- NPCID.cs
- ItemID.cs
- ArmorID.cs
- Lang.cs
- MessageBuffer.cs
- TileObje

[2016-10-04 08:33] hakusaro commented on #94
Is this done @WhiteXZ?

[2016-10-04 08:33] #94 closed, assigned to nobody

[2016-10-11 00:57] hakusaro opened #101 "NPC skipping issue"
In the interim waiting for Orion to cook, we need to look into https://github.com/NyxStudios/TShock/issues/1231, but this is a vanilla issue according to @ProfessorXZ which means it will regress if fixed here in Orion.

[2016-10-11 01:09] hakusaro opened #102 "Martian Saucers never despawn upon 'flying away'"
See https://github.com/NyxStudios/TShock/issues/1196. Again, this is likely an API issue, but if it isn't, fixing it here will cause a regression in OTAPI / Orion.

[2016-10-12 21:45] hakusaro opened #103 "Wyverns despawn"
Tracking a TShock reported issue from https://github.com/NyxStudios/TShock/issues/1297 here. Wyverns need to not despawn and need to function as normal. According to @ProfessorXZ, the solution might be to re-diff and see if we missed something.

[2016-10-13 02:07] #103 closed, assigned to nobody

[2016-10-19 12:46] Simon311 opened #104 "Add "Pull Request Wanted" label"
I would love to see "Pull Request Wanted" label added to issues on this repo.

[2016-10-19 13:18] Ijwu opened #105 "Butterfly Statue spawns catchable butterflies"
Referencing: NyxStudios/TShock#1311

And https://github.com/NyxStudios/TShock/issues/1311#issuecomment-254800714

[2016-10-19 13:19] Ijwu commented on #104
I've begun using the `help wanted` tag. If we prefer the `Pull Request Wanted` label then we can replace the text under `help wanted` with `Pull Request Wanted`.

[2016-10-19 14:52] hakusaro commented on #104
@Simon311 got you, will do when I get home, before I go to sleep, but after I make some tea

[2016-10-19 17:42] hakusaro commented on #104
Done.

[2016-10-19 17:42] #104 closed, assigned to hakusaro

[2016-10-22 00:40] #105 closed, assigned to nobody

[2016-10-23 03:34] hakusaro opened #107 "Thread race on incoming connections (findNextOpenClientSlot)"
Reported by GameRoom on Slack:

[code]

[2016-10-23 03:40] tylerjwatson commented on #107
When I get back I might take a look at this. Its not a good idea to place locks around I/O.

[2016-10-23 03:42] hakusaro commented on #107
@tylerjwatson wolfje to the rescue <3

[2016-10-23 19:27] hakusaro commented on #107
Pull request #108 has a potential solution for this. @tylerjwatson I'm not sure what you want to do for a potential fix that isn't locking, but there is certainly a PR now.

[2016-10-31 06:23] Kojirremer opened #109 "Sand Elementals despawning"
First of all, I wasn't sure if it was a TShock or TAPI issue, but since there was something similar for wyverns, here goes...
No matter what I try, I can't get Sand Elementals to spawn properly. If spawned with /sm they briefly appear then immediately (a fraction of a second) despawn. Tried this both in the middle of a sandstorm and with no sandstorm ongoing.
If causing a sandstorm and increasing

[2016-10-31 06:26] Kojirremer opened #110 "Sand Sharks and their biome relatives skip a lot, even on localhost"
Just what the tin says. Pretty much every mob, worm enemies included, work as intended on localhost. However, sand sharks will skip quite a bit when hit for no apparent reason.
On a remote install one would think it's just lag, but it even happens on localhost, where even the biggest worms don't skip when hit.

Tested on TShock 4.3.20, clean install (just in case).

[2016-11-01 00:55] DaBomberNTG commented on #110
Replicated this on local, my sand sharks would disappear when hit and would reappear in 5-15 secs later.

[2016-11-01 04:02] hakusaro opened #111 "API crashes on startup on Chinese language systems?"
I'm not entirely sure about the root cause here, but a user reported having issues with the API starting on Chinese, English systems.

[ServerLog.txt](https://github.com/NyxStudios/TerrariaAPI-Server/files/563331/ServerLog.txt)
[ServerLog (1).txt](https://github.com/NyxStudios/TerrariaAPI-Server/files/563332/ServerLog.1.txt)

It wasn't TShock related, and it wasn't file permissions related, I assu

[2016-11-01 10:54] mistzzt commented on #111
It was not related to the system language.

The exception was occurred when TSAPI tried to load the `Last Used Time`.
The user must used an **older version of TSAPI** while **maps of newer version** existed.
I have reproduced this situation as I said above, using older version of TSAPI and maps of newer version.

But the vanilla server seems to skip maps with newer version on startup.

[2016-11-02 00:34] grapeszy commented on #111
Yes, I've tried the TSv4.0.
A solution for this is: Delete the old world map files.

[2016-11-02 00:43] hakusaro commented on #111
We really need a solution for the world file problems. This is getting annoying.

[2016-11-02 01:21] tylerjwatson commented on #111
Can we make a concrete repro scenario?  Maybe provide some world files affected by these sorts of bugs?

At the very least it's trivial to handle errors loading world files.

[2016-11-21 13:38] dark22 opened #118 "NPC's they are not spawning"
@Zaicon, I know that the current build for the update is not yet final, but I would like to report that NPC's are not auto spawning, sometimes it is possible to see a Devourer in map, the command /sm (Example: /sm zombie 50), also does not work. Some boss and events are working perfectly, both through commands or over items.

Thank you very much for the excellent work in updating!

[2016-11-21 13:52] QuiCM commented on #118
Confirmed, some 'boss' monsters such as the Wyvern will spawn, but nothing else

[2016-11-24 06:11] dark22 commented on #118
The changes made to this pull #120 seems to work well, but Moon Lord, Lunatic Cultist, Lunatic Devotes and some other NPCs are not being invoked by command. Through items are summoned normally.

Although not connected with this update, but after this pull #106 the TowerNPCs are disappearing from the map for no apparent reason, to test just use AIO Plugin and invokes all TowerNPCs and wait for them

[2016-11-29 23:54] Kojirremer commented on #109
Confirmed as fixed on latest unstable (1371).

[2016-11-29 23:54] #109 closed, assigned to nobody

[2016-11-29 23:55] Kojirremer commented on #110
This is still a thing on latest unstable (1371).

[2016-11-30 01:23] QuiCM commented on #109
Thanks @Kojirremer

[2016-12-04 14:46] tlworks commented on #118
@dark22 This also counts for some other NPC's such as some OOA (Old One's Army) Monsters, Big Mimics and some NPC's spawned by the Lunatic Cultist. Not to forget that some types of Monsters simply cannot be spawned as they always remain the first ID in the list.

[2016-12-14 19:57] tlworks-dev opened #124 "Time Skipping is still a known issue."
Apart from monster skipping, which simply is to be resolved by Re-Logic which probably will be buried deep down in the ground I'd like to share that Time Skipping is still a known issue in the latest OTAPI Pre-Release. It has improved quite a lot from TSAPI but it remains an issue which should be fixed if possible.

[2017-04-28 05:39] hakusaro opened #135 "Enable AppVeyor"
Now that we've experimentally turned on AppVeyor we should probably make it actually try to build something. It's scaring the developer of #134 that his build failed...even though AV didn't even run a .sln.

[2017-04-28 05:41] hakusaro commented on #135
It's also scaring one of the developers:

![screen shot 2017-04-27 at 11 40 55 pm](https://cloud.githubusercontent.com/assets/532647/25515608/f9c6a5c4-2ba2-11e7-89ca-1af5ee11a7d3.png)

[2017-04-28 06:57] hakusaro commented on #135
I actually meant #128 in the original description.

Anyway, done now!

[2017-04-28 06:57] #135 closed, assigned to hakusaro

[2017-05-01 17:16] hakusaro opened #137 "Input text still mangled on Debian"
_Creating a new issue so this doesn't get lost_. See the comment here: https://github.com/NyxStudios/TerrariaAPI-Server/pull/134#issuecomment-298377685

[2017-05-02 05:57] hakusaro commented on #137
_Requested testing of latest build in the other thread._

[2017-05-02 20:08] #137 closed, assigned to nobody

[2017-06-17 18:04] NegativeBlue opened #142 "ServerPlugins directory should be in the executing directory, not the working directory"
When starting the TerrariaServer.exe while the current working directory differs from the directory containing the .exe, the ServerPlugins directory is assumed to be inside the working directory.

To reproduce the problem I'm trying to describe, assume the following.
* There's an installation of TShock inside the directory `D:\Servers\01_TShock`
* There's a run.bat inside the directory `D:\Servers

[2017-08-25 11:37] ivanbiljan commented on #124
OTAPI is just an API for Terraria that exposes a lot of events for us. It does provide some optimisations (like with tiles) but I really don't think fixing ReLogic's code should be done by death because that's not how I see OTAPI. But that's just my opinion.

[2017-08-25 11:38] ivanbiljan commented on #107
@hakusaro considering OTAPI and everything, is this still an issue?

[2017-08-25 13:52] #110 closed, assigned to nobody

[2017-08-25 13:53] Kojirremer commented on #110
Closing since it appears to have been fixed for quite a while (sorry, I forgot this existed).

[2017-10-28 09:22] SignatureBeef commented on #107
Closing off as this is implemented.
See comments in PR: https://github.com/Pryaxis/TerrariaAPI-Server/pull/112

[2017-10-28 09:22] #107 closed, assigned to nobody

[2017-12-09 16:02] hakusaro opened #149 "OTAPI needs to be updated"
OTAPI needs to be updated to the latest release for general fixes and also https://github.com/Pryaxis/TShock/issues/1526.

[2017-12-09 16:03] edg-l commented on #149
I'll try

[2017-12-09 16:03] hakusaro commented on #149
It's all in your hands now.

[2017-12-09 17:08] #149 closed, assigned to nobody

[2017-12-11 04:30] QuiCM commented on #124
No reply from OP since 2015, closing. Please open a new issue if this is still occuring

[2017-12-11 04:30] #124 closed, assigned to nobody

[2017-12-11 04:30] hakusaro commented on #124
Wow that's an old issue.

[2017-12-11 04:31] QuiCM commented on #118
I believe this was prior to OTAPI integration. Closing.

[2017-12-11 04:31] #118 closed, assigned to nobody

[2017-12-11 04:31] hakusaro commented on #83
Not relevant post-Mintaka.

[2017-12-11 04:31] #83 closed, assigned to nobody

[2017-12-11 04:31] QuiCM commented on #111
No further issues in over a year, closing.

[2017-12-11 04:32] #111 closed, assigned to nobody

[2017-12-11 04:32] QuiCM commented on #102
Hoping OTAPI has resolved this as no further issues have been reported with it.
Closing.

[2017-12-11 04:32] #102 closed, assigned to nobody

[2017-12-11 04:32] hakusaro commented on #111
@QuiCM mist would have noticed this.

[2017-12-11 04:34] QuiCM commented on #101
Vanilla issues are, for the most part, left to vanilla. I'm not sure we can do much about this without rewriting the network protocol.

[2017-12-11 04:34] #101 closed, assigned to nobody

[2017-12-11 04:37] QuiCM commented on #40
Vanilla issue. Don't know if it still exists, and no comments in over 2 years.
Closing

[2017-12-11 04:37] #40 closed, assigned to nobody

[2017-12-11 04:37] #29 closed, assigned to tylerjwatson

[2017-12-11 04:38] QuiCM commented on #9
OTAPI

[2017-12-11 04:38] #9 closed, assigned to nobody

[2017-12-11 04:38] QuiCM commented on #6
No longer current

[2017-12-11 04:38] #6 closed, assigned to nobody

[2017-12-11 04:39] QuiCM commented on #1
Is this still a thing?

[2017-12-11 04:41] hakusaro commented on #1
@QuiCM this is the first issue on the TSAPI repo. I'm assuming the answer is "not really relevant" if anything.

[2017-12-11 04:45] QuiCM commented on #1
Following the link to Pryaxis/TShock#919, it seems this was never acted upon

[2017-12-12 02:09] hakusaro opened #154 "0day crash on any packet"
Issue is redacted, see #high-charity for more info.

[2017-12-12 07:19] hakusaro commented on #154
I'm working on patching this right now.

[2017-12-12 07:22] hakusaro opened #155 "Master branch is really out of date and that's bad"
We can't really patch off of master right now on this repo because the master branch hasn't been merged in ~130 commits.

[2017-12-12 07:42] QuiCM commented on #155
Do we use general-devel submodules in master branch TShock builds???

[2017-12-12 10:25] hakusaro commented on #155
Done.

[2017-12-12 10:25] #155 closed, assigned to nobody

[2017-12-12 10:25] #154 closed, assigned to hakusaro

[2017-12-14 04:01] hakusaro opened #156 "Regression: Not possible to run bootstrapper with 1 click in VS2017"
A change introduced in 1ebf418459a2809ee2fa85486aff1e9f074666d4 requires an `env.config` to be present in the build folder in order to run the bootstrapper in one click. It looks like a55a1787803abd50fbae98d093c7a3cbf19c5297 should have enabled a pre-build event that would create the `env.config` file in the output directory, but it doesn't do that on VS2017. I have no idea what causes this -- I'm

[2017-12-14 04:34] #156 closed, assigned to nobody

[2017-12-31 10:46] bartico6 opened #159 "Rename packet 82"
The name of packet [82] (https://github.com/Pryaxis/TerrariaAPI-Server/blob/28200f7d4447ee275e85856f97eee58fa156ffc4/TerrariaServerAPI/TerrariaApi.Server/PacketTypes.cs#L88) is misleading - it does not cause any netmodule to be loaded, as netmodules are loaded on server startup when `NetManager.Initialize()` is called.

It's an issue rather than PR as we should decide on which name will fit the mo

[2018-05-17 16:51] bartico6 commented on #159
Any updates?

[2018-05-17 17:39] hakusaro commented on #159
Don't know what a better name is than "LoadNetModule" and "NetModule" isn't a verb either.

[2018-05-18 02:26] Ijwu commented on #159
Perhaps `ReadNetModule`? It just triggers a NetModule to be loaded from the stream.

[2018-05-18 02:36] hakusaro commented on #159
`ExecuteNetModule`?

[2018-05-18 02:39] QuiCM commented on #159
If that's the case, is `LoadNetModule` not accurate?

[2018-05-18 02:41] QuiCM commented on #159
Our PacketTypes.cs naming contains a mix of `Verb` `ActualPacketName` and plain `ActualPacketName`
(e.g., `Create` `CombatText`, `Complete` `AnglerQuest`, etc.)
I don't really see any renaming that provides extra clarity (from the suggestions provided thus far)

[2018-05-18 03:00] Ijwu commented on #159
I'm not entirely sure about renaming it either. I don't believe anything we change it to will actually provide extra clarity as to what the packet does. Since the packet and the logic behind it is quite complex there isn't really anything we can call it that makes it obvious and intuitive.

[2018-05-18 03:29] hakusaro commented on #159
I don't know what the packet does.

[2018-05-18 03:29] hakusaro commented on #159
& I've heard 10 different explanations for what it does.

[2018-10-31 22:58] QuiCM commented on #159
Marking as stalled. This is still a bad packet that does multiple things with no common base

[2019-01-25 21:08] hakusaro opened #165 "Add license"
This repo no longer has the full decompile of the Terraria Server source code. Therefore, we should have our GPL v3 stamp on everything in this repo too (as we do for TShock).

That is, we just need to copy the `COPYING` file from TShock and put it here.

[2019-08-01 03:03] #142 closed, assigned to QuiCM

[2022-10-18 07:00] #165 closed, assigned to nobody